@media (max-width: 614px) {
  .corpo {
    margin-top: 0;
  }

  .post {
    border-radius: 0;
    border-left: none;
    border-right: none;
    width: 100%;
  }

  .post:last-child {
    margin-bottom: 72px;
  }

  .stories {
    background-color: transparent;
    border: none;
    width: 100%;
  }

  .post:first-child {
    margin-top: 0;
  }

  .navbar .pesquisa {
    display: none;
  }

  .navbar .icones {
    display: none;
  }

  .navbar .icones-mobile {
    display: flex;
  }

  .fundo-mobile {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #fff;
    border-top: 1px solid #dbdbdb;
    height: 54px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .navbar .logo {
    display: none;
  }

  .logo-mobile,
  .instagram-mobile {
    display: flex !important;
  }

  .instagram-mobile {
    position: relative;
    top: 4px;
  }
}
